/* font import */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

/* Base styles */
* {
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(75, 75, 75);
}

fieldset {
    border: none;
    padding: 0;
    margin: 30px 0;
}

/* styles */

.wrap{
    text-align: center;
}

.main-header {
    margin-bottom: 1.5px;
}
.title{
    background-color: black;
    color: #fff;
    font-size: 1.5em;
    padding: 30px .3em;
    text-transform: uppercase;
}

.header-intro {
    font-size: 1.4em;
    margin-bottom: 15px;
}

.header-description {
    color: rgb(75, 75, 75);
    margin: 30px 5px;
}

.description {
    color: rgb(184, 184, 184);
}

.container{
    border-top: 3px solid black;
    padding: 2px 0;
}
.form {
    border-top: 2px solid black;
    text-align: left;
    padding: 20px 10px;
}

.field-header{
    font-weight: bold;
    font-size: 1.3em;
    margin: 20px 0;
}

label{
    text-transform: capitalize;
    color: rgb(128, 128, 128)
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    background-color: rgb(239, 240, 241);
    padding: 15px 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    display: block;
}

#zip_code{
    width: 50%;
}

input::placeholder{
    text-align: right;
    color: rgb(196, 196, 196);
    text-transform: capitalize;
}

input:focus, textarea:focus{
    outline-color: rgb(3, 3, 105);
}

select{
    color: rgb(128, 128, 128);
}

.bottom-sub {
    border-top: 3px solid;
}

.checkbox-intro {
    color: rgb(128, 128, 128);
    line-height: 1.5;
    margin-bottom: 15px;
}
/* checkboc and radio styles */
input[type="checkbox"],
input[type="radio"], .light{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light{
    color: rgb(128, 128, 128);
    cursor: pointer;
}

/* ------------------------------ */

.format-intro {
    margin: 10px  0;
    color: rgb(128, 128, 128);
}

textarea{
    margin: 15px 0;
    background-color: rgb(239, 240, 241);
    border: none;
    border-radius: 5px;
    width: 100%;
}

button {
    display: block;
    width: 100%;
    padding: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(78, 187, 182);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(133, 204, 200);
}

.main-footer {
    color: rgb(128, 128, 128);
}

.section-intro{
    color: rgb(128, 128, 128);
}

/* Media Queries----------------- */
@media (min-width: 768px){
    main {
        max-width: 700px;
        margin: 0 auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        display: inline-block;
        width: 60%;
    }

    label{
        width: 20%;
        display: inline-block;
        margin-right: 19%;
    }

    #zip_code{
        max-width: 150px;
    }

    textarea{
        max-height: 100px;
    }
    
}


